.tabContainer { display: flex; }

.tabContainer .tabBox { position: relative; cursor: pointer; }

.tabContainer .tabBox:hover:not(.active) { opacity: .8; }

.tabContainer .tabBox .txt { position: absolute; bottom: 2px; width: 150px; text-align: center; color: var(--color); }

.tabContainer .tabBox:nth-child(2) { margin-left: -30px; }

.tabContainer .tabBox.active { z-index: 10; }

.tabContainer .tabBox.active .txt { color: var(--active-color); }

.tabContainer .tabBox.active .tab { background-color: var(--active-bgColor); }

.tabContainer .tabBox.active .tab::before { background: radial-gradient(circle at 0 0, transparent var(--chiCun), var(--active-bgColor) var(--chiCun)); }

.tabContainer .tabBox.active .tab::after { background: radial-gradient(circle at var(--chiCun) 0, transparent var(--chiCun), var(--active-bgColor) var(--chiCun)); }
