#nav { width: 800px; height: 50px; line-height: 50px; margin: 20px auto; background-color: darkcyan; }

#nav a { color: #fff; }

#nav a:hover { color: deeppink; }

#nav > li { width: 160px; text-align: center; float: left; }

#nav .companyIntroduceUrl { display: none; width: 100px; margin: 0 auto; background-color: lightsteelblue; }
