@charset "UTF-8";
.i_b { display: inline-block; padding: 4px 6px; }

.chunk { background-color: gray; }

/* 类选择器是属性选择器的一种, 字符串类型可以不带"" */
div[class*=self] { color: white; }

[class$=houzhui] { background-color: green; }

[data-zifu~=abc] { background-color: aqua; }

[data-zifu^=qianzhui] { color: aqua; }

[data-zifu|=zh] { color: red; border: 1px solid red; }

div[title] { background-color: burlywood; }

div[data-idx="5"] { background-color: purple; }
