@charset "UTF-8";
* { margin: 0; padding: 0; box-sizing: border-box; }

.container .item, .container1 .item, .container2 .item { width: 300px; height: 150px; border: 5px solid #000; margin-left: 100px; }

.container .item2, .container1 .item2, .container2 .item2 { width: 100px; height: 100px; background-color: red; position: absolute; left: 10px; top: 10px; }

.container { width: 500px; height: 300px; background-color: skyblue; margin-left: 200px; position: static; }

.container1 { width: 500px; height: 300px; background-color: skyblue; margin-left: 200px; position: relative; }

hr { margin: 30px; }

.container2 { width: 500px; height: 300px; background-color: skyblue; margin-left: 200px; position: relative; }

.container2 .item { /* 新增代码 */ transform: rotate(0deg); }

em.posi { background-color: deepskyblue; position: absolute; }
