/* 顶部导航 s */
.navbar-top-default {
  position: fixed;
  background-color: #0B0A0A;
  height: 7.5rem;
  border-bottom: none;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-simple .navbar-nav .nav-link {
  padding: 1.375rem 0.75rem;
  font-size: 1.375rem;
  color: #A1A1A1;
}

.navbar-simple .navbar-nav .nav-link.active {
  color: #fff;
}

.nav-line .navbar-nav .nav-link:before {
  height: 2px;
  bottom: -4.625rem;
}

.sidemenu_btn {
  margin-right: 1rem;
  margin-top: 1.4rem;
  display: none;
}

.lp_join {
  display: flex;
  align-items: center;
  height: 100%;
}

.lp_join>div {
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  border: 2px solid #B39700;
  font-size: 1.25rem;
  font-family: DM Sans-Bold, DM Sans;
  font-weight: bold;
  color: #B39700;
  line-height: 3.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.lp_join>div:hover {
  cursor: pointer;
  background-color: #B39700;
  color: #fff;
  transition: all 0.5s;
}

/* 顶部导航 e */




.footer-style-1 {
  background-color: #1f1904 !important;
  padding-bottom: 2rem;
}



.footer-social a {
  color: #ffffff;
}

.white_c {
  color: #fff !important;
}

.inline_b {
  display: inline-block !important;
}

.lp_wrapper_t {
  padding-top: 1.25rem;
}

.lp_wrapper_b {
  padding-bottom: 1.25rem;
}

.lp_logo {
  width: 8.875rem;
  height: 5.75rem;
}

.big_img img {
  width: 100%;
  height: 520px;
}

.lp_office img {
  width: 43rem;
  height: 33rem;
}


.lp_margin_l {
  margin-left: 1.25rem;
}

.lp_copyright {
  color: gray;
  font-size: 0.75rem;
}

body {
  background-color: #171409;
}

.side-menu {
  background-color: #B39700;
}



/* 文化 s */
.lp_txt_section {
  font-size: 1.875rem;
  font-family: Poppins-Bold, Poppins;
  font-weight: bold;
  color: #b39700;
}

.lp_txt_title {
  font-size: 1.5rem;
  font-family: DM Sans-Regular, DM Sans;
  font-weight: 400;
  color: #f8f8f8;
}

.lp_txt_ctt {
  font-size: 1.125rem;
  font-family: DM Sans-Regular, DM Sans;
  font-weight: 400;
  color: #a3a3a3;
}

.jieshao .one_title,
.culture .one_title {
  height: 6.875rem;
  text-align: left;
}

.jieshao .two_title,
.culture .two_title {
  height: 3rem;
  text-align: left;
}

.jieshao .three_title,
.culture .three_title {
  height: 4rem;
  text-align: left;
}

.lp_wrapper .three_title:nth-of-type(3) {
  height: 2rem;
}

/* 文化 e  */





/* 加的 s */
ul {
  margin: 0;
  padding: 0;
}

#content {
  height: 100%;
  width: 100%;
}

#content li {
  /* height: 100%; */
  /* height: 100vh; */
  /* height: calc(100vh - 70px); */
  height: 100vh;
  width: 100%;
}

/* #content .one {
  background: #c94e50;
} */

/* #content .two {
  background: #FFA422;
} */

#content .three {
  background: #F05183;
}

#content .four {
  background: #6CD5E2;
}

#content .five {
  background: #43155E;
}

#content .six {
  background: #1C232B;
}

/* 加的 e */


/* 介绍 s */
.jieshao {
  height: 37.5rem;
  align-items: center;
  padding-top: 3.75rem;
}

.jieshao>div:first-child {
  align-self: flex-start;
}

.jieshao>div:first-child .lp_txt_section {
  text-align: right;
}

.jieshao .txt {
  font-size: 1rem;
  font-family: DM Sans-Regular, DM Sans;
  font-weight: 400;
  color: #a2a2a2;
  line-height: 2rem;
}

.jieshao .image>div:first-child {
  margin-bottom: 0.75rem;
}

.jieshao .image>div:first-child>img:first-child,
.jieshao .image>div:last-child>img:first-child {
  margin-right: 0.75rem;
}

/* 介绍 e */



/* 使命 s */
.shiming>.lp_wrapper {
  padding: 2.5rem 3.125rem;
  /* padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px; */
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.shiming .l_title_zhong {
  font-size: 1.875rem;
  font-family: Poppins-Bold, Poppins;
  font-weight: bold;
  color: #B39700;
  /* margin-bottom: 16px; */
  line-height: 2.8125rem;
}

.shiming .l_title_ying {
  font-size: 1.25rem;
  font-family: DM Sans-Regular, DM Sans;
  font-weight: 400;
  color: #B39700;
  line-height: 1.875rem;
}

.shiming .r {
  border-left: rgba(255, 255, 255, 0.2) 1px solid;
  padding-left: 5rem;
  display: flex;
  align-items: center;
}

.shiming .r_ctt {
  font-size: 1.25rem;
  font-family: DM Sans-Regular, DM Sans;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 2.5rem;
}

/* 使命 e */


/* 位置 地图 s */
.posi .l_t {
  border-left: 0.25rem solid rgba(179, 151, 0, 1);
  padding-left: 0.75rem;
}

.posi .l_t>div:nth-of-type(1) {
  font-size: 1.5rem;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 2.25rem;
  margin-bottom: 8px;
}

.posi .l_t>div:nth-of-type(2) {
  font-size: 1rem;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.5rem;
  margin-bottom: 12px;
}

.posi .l_t>div:nth-of-type(3) {
  font-size: 1rem;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.5rem;
}

.posi .number {
  font-size: 1rem;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.5rem;
  flex-wrap: wrap;
}

.posi .number span {
  font-size: 2rem;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 2.5rem;
  color: rgba(179, 151, 0, 1);
}

/* 位置 地图 e */


/* 子公司 s */
.sub_company .one_title,
.sub_company .city_list {
  margin-bottom: 2rem;
}

.sub_company .city_list>div {
  flex-wrap: wrap;
}

.sub_company .city:hover {
  cursor: pointer;
  background-color: #B39700;
  color: #fff;
  transition: all 0.5s;
}

.sub_company .city_list>div {
  display: flex;
}

.sub_company .city {
  font-size: 1.25rem;
  font-family: DM Sans-Bold, DM Sans;
  font-weight: bold;
  color: #B39700;
  line-height: 2.875rem;
  border: 1px solid rgba(179, 151, 0, 1);
  margin-right: 1rem;
  padding: 0 1.75rem;
  margin-bottom: 1rem;
}

.company_list .sec {
  height: 20rem;
  cursor: pointer;
  opacity: .8;
}

.company_list .sec:hover {
  opacity: 1;
}

.company_list .sec>div:nth-of-type(1) {
  font-size: 0.9375rem;
  font-family: PingFang SC-Bold, PingFang SC;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1.375rem;
}

.company_list .sec>div:nth-of-type(2) {
  font-size: 0.8125rem;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 500;
  color: #A1A1A1;
  line-height: 1.25rem;
}

/* 子公司 e */


/* 业务 s */
.business .title {
  height: 4rem;
  border-bottom: 1px solid gray;
  margin-bottom: 3rem;
}

.business .large {
  position: relative;
  background-color: rgba(179, 151, 0, 1);
  width: 11.25rem;
  border: 1px solid rgba(179, 151, 0, 1);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 0 1.375rem;
  font-size: 30px;
  font-family: Poppins-Bold, Poppins;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 45px;
}

.business .large i {
  position: absolute;
  top: 2.875rem;
  left: 4.75rem;
  border: 5px solid transparent;
  border-top-color: rgba(179, 151, 0, 1);
  border-style: solid dashed dashed;
}

.business .one_title {
  height: 3rem;
}

.business .yewu .txt {
  font-size: 1rem;
  font-family: DM Sans-Regular, DM Sans;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 2rem;
}

/* 业务 e */


/* 新的首页 s */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-wrap {
  width: 100%;
  height: 100%;
  overflow: visible;
  transition: transform 1s cubic-bezier(0.86, 0, 0.03, 1);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.03, 1);
}

.section-wrap .section {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-position: center center;
  background-repeat: no-repeat; */
  display: flex;
  align-items: center;
}

.section-wrap .section-1 {
  background: url('../img/home/sec_1.png') no-repeat;
  background-size: cover;
}

.section-wrap .section-2 {
  background: url('../img/home/sec_2.png') no-repeat;
  background-size: cover;
}

.section-wrap .section-3 {
  background: url('../img/home/sec_3.png') no-repeat;
  background-size: cover;
}

.section-wrap .section-4 {
  background-color: #0c0b0a;
}

.section-wrap .section-5 {
  background: url('../img/home/sec_last.png') no-repeat;
  background-size: cover;
}

.put-section-0 {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.put-section-1 {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

.put-section-2 {
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
}

.put-section-3 {
  transform: translateY(-300%);
  -webkit-transform: translateY(-300%);
}

.put-section-4 {
  transform: translateY(-400%);
  -webkit-transform: translateY(-400%);
}

.arrow {
  opacity: 1;
  animation: arrow 3s cubic-bezier(0.5, 0, 0.1, 1) infinite;
  -webkit-animation: arrow 3s cubic-bezier(0.5, 0, 0.1, 1) infinite;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  /* border: 1px solid #fff; */
  cursor: pointer;
  overflow: hidden;
}

.arrow:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes arrow {

  0%,
  100% {
    bottom: 10px;
    opacity: 1;
  }

  50% {
    bottom: 50px;
    opacity: .5
  }
}

@-webkit-keyframes arrow {

  0%,
  100% {
    bottom: 10px;
    opacity: 1;
  }

  50% {
    bottom: 50px;
    opacity: .5
  }
}

/* 新的首页 e */