@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }

  .lp_wrapper {
    /* padding: 4px 0; */
    padding-top: 6rem;
  }

  .lp_office {
    display: none;
    /* width: 6.25rem;
    height: 6.25rem; */
  }

  .big_img {
    display: none;
  }
}