ol,
ul {
  list-style: none;
}

.hei_100 {
  height: 100%;
}

.hei_100vh {
  height: 100vh;
}

.logo_sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin_b_100px {
  margin-bottom: 6.25rem;
}

.margin_b_80px {
  margin-bottom: 5rem;
}

.margin_b_60px {
  margin-bottom: 3.75rem;
}

.margin_b_40px {
  margin-bottom: 2.5rem;
}

.margin_b_12px {
  margin-bottom: .75rem;
}

.margin_b_30px {
  margin-bottom: 1.875rem;
}

.margin_t_120px {
  margin-top: 7.5rem;
}


.navbar {
  background-color: rgba(5, 5, 5, 0.3) !important;
  display: flex;
  justify-content: center;
}


.footer-style-1 {
  background-color: #1f1904 !important;
  padding-top: 2rem !important;
  padding-bottom: .75rem !important;
}

#about_nav>div {
  display: flex;
  align-items: center;
}

#about_nav>div.active {
  border-bottom: 1px solid red;
}