.card_container {
  background-color: #d2d2d2;
  width: 100px;
  height: 100px;
  margin: 50px auto;
  position: relative;
  font-size: 70px;
  text-align: center;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 100px;
    top: 50%;
    height: 2px;
    background-color: #2d2d2d;
    z-index: 99;
  }

  .card {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  .card1 {
    line-height: 100px;
    background-color: #2da0d6;
  }

  .card2 {
    background-color: #6ef479;
    top: 50%;
    line-height: 0;
    transform: rotateX(180deg);
    transform-origin: center top;
    backface-visibility: hidden;
    transition: all .5s;
    z-index: 10;
  }

  .card3 {
    line-height: 100px;
    background-color: #ebc87b;
    transform: rotateX(359deg);
    transform-origin: center bottom;
    backface-visibility: hidden;
    transition: all .5s;
    z-index: 10;
  }

  .card4 {
    background-color: #e19397;
    top: 50%;
    line-height: 0;
  }

  &:hover {
    .card2 {
      transform: perspective(100px) rotateX(0deg);
    }

    .card3 {
      transform: perspective(100px) rotateX(180deg);
    }
  }
}