<!doctype html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>el-select 下拉选择 手写三级联动</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="../global/global.css" />
</head>

<body>
  <div id="app">

    <h3 class="up_down">手写的三级联动</h3>
    <el-form ref="form" :model="formSearchTerm" label-width="50px" :inline="true" size="small">
      <el-form-item label="隧道">
        <el-select v-model="formSearchTerm.tunnel" @change="searchSelectTunnel" filterable default-first-option
          value-key="formSearchTerm_tunnel">
          <el-option label="全部" value="-1"></el-option>
          <el-option v-for="item in allTunnelArr" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="设备">
        <el-select v-model="formSearchTerm.device" @change="searchSelectDevice" :disabled="!canSelectDevice" filterable
          default-first-option value-key="formSearchTerm_device">
          <el-option label="全部" value="-1"></el-option>
          <el-option v-for="item in allDtsDeviceArr" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="通道">
        <el-select v-model="formSearchTerm.channel" :disabled="!canSelectChannel" filterable default-first-option
          value-key="formSearchTerm_channel">
          <el-option label="全部" value="-1"></el-option>
          <el-option v-for="item in allDtsChannelArr" :key="item.id" :label="item.name" :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="searchForm">搜索</el-button>
      </el-form-item>
      <el-form-item>
        <el-button @click="reset">清空</el-button>
      </el-form-item>
    </el-form>
    <hr class="up_down">
  </div>


  <script src="../lib/vue@2.6.14.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://unpkg.com/element-ui@2.15.1/lib/index.js" type="text/javascript" charset="utf-8"></script>
  <script src="../lib/qs@6.7.0.min.js"></script>
  <script src="index.js" type="module"></script>
</body>

</html>