aside {
  background-color: var(--tin-hau);
  /* 左右两栏布局, 一般左侧 定宽 左浮动 */
  width: 300px;
  float: left;
  /* 宽度100%无效 */
  // height: 100%;
}

main {
  background-color: var(--ma-on-shan);
  /* 右侧不给浮动, 文字环绕效果 */
  display: flow-root; // 创建BFC, 排除外部浮动 // overflow: hidden;
  // 不给宽度就默认右侧撑满
  // width: 500px; // 右侧定宽
}

// 第一种两栏布局, 左侧定宽且左浮动, 右侧创建BFC