#menu {
  width: 100px;
  border: 1px solid grey;
  border-bottom: none;
}

#menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#menu ul li {
  border-bottom: 1px solid grey;
  background-color: #74B8FF;
  padding: 0px 8px;
  height: 26px;
  line-height: 26px;
  position: relative;
}

#menu li>ul {
  position: absolute;
  display: none;
  width: 100px;
  // left: 100px;
  // left: 110px;
  left: 99px;
  top: 0px;
}

/* 都是用的 li:hover */
/* 也可以直接绑定事件 */
#menu li:hover>ul {
  display: block;
}

#menu li:hover {
  cursor: pointer;

  >a {
    color: red;
  }
}

a {
  color: black;
  text-decoration: none;
}