* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

.lpj {

  // border: solid 1px deepskyblue;
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  .oneLevel {
    width: 600px;
    height: 60px;
    display: flex;

    >li {
      // width: 100px;
      // height: 60px;
      position: relative;
      border: 1px solid deeppink;
      border-right: none;

      &:hover .twoLevel {
        display: block;
      }

      &:last-child {
        border-right: 1px solid deeppink;
      }

      a {
        width: 100px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
      }
    }
  }

  .twoLevel {
    display: none;
    position: absolute;
    top: 56px;
    // top: 90px;
    left: -1px;

    .zhanwei {
      width: 100%;
      height: 40px;
      background-color: transparent;
      // border: 1px solid red;
    }

    >li {
      border: 1px solid deepskyblue;
      border-bottom: none;

      &:last-child {
        border-bottom: 1px solid deepskyblue;
      }

      &:hover {
        a {
          color: red;
        }
      }
    }
  }


  #triangle-up {
    // display: none;
    width: 0;
    height: 0;
    position: absolute;
    top: 3px;
    left: 43px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 37px solid deepskyblue;
  }


}