.banner {
  width: 500px;
  height: 200px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  // 渐变做出斜线分割背景效果
  background: linear-gradient(60deg, #000 50%, #fff 50%);
  color: #fff;

  .title {
    // 过渡得加到元素上, 不能加到:hover上, 否则鼠标一离开, 过渡立马失效, 会闪现
    transition: .5s;
    // 混合模式, 使用差值, 当前元素且元素背景和父元素的背景混合
    mix-blend-mode: difference;
    // rgba(255,255,255)每一项色值-0=255
    // 255-255=0
    color: #fff;
    // 可以用背景色来作演示, 可以理解difference的计算
    // background-color: red;
    // background-color: rgb(255, 0, 0);
    // background-color: rgb(0, 255, 255);
  }

  &:hover {
    .title {
      transform: translateX(-40px);
    }
  }
}