@property --r {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
@property --x {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}
.ball {
  transform: rotate(var(--r)) translate(var(--x));
  animation: x 2s, r 8s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, -800, 0.5, 800);
}

@keyframes x {
  to {
    --x: 1px;
  }
}
@keyframes r {
  to {
    --r: 1deg;
  }
}
