* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 500px;
  height: 300px;
  background-color: skyblue;
  margin-left: 200px;
  position: relative;

  .item {
    width: 300px;
    height: 150px;
    border: 5px solid;
    margin-left: 100px;
  }

  .item2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 10px;
    top: 10px;
  }
}

hr {
  margin: 30px;
}

.container2 {
  width: 500px;
  height: 300px;
  background-color: skyblue;
  margin-left: 200px;
  position: relative;

  .item {
    width: 300px;
    height: 150px;
    border: 5px solid;
    margin-left: 100px;
    /* 新增代码 */
    transform: rotate(0deg);
  }

  .item2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 10px;
    top: 10px;
  }
}


em.posi {
  background-color: deepskyblue;
  position: absolute;
  // position: fixed;
}