// 切换主题色
$themes: (
  light: (bgColor: #fff, textColor: #000, ),
  dark: (bgColor: #000, textColor: #fff, ),
  // deepskyblue: (...)
  /* 扩展主题色很方便 */
);
// 定义全局变量
$currTheme: '';

@mixin useTheme {

  // 遍历map结构
  @each $k, $v in $themes {
    // 这里是给全局变量赋值
    // 加 !global
    // 不加 !global 则是重新声明一个局部变量 $currTheme
    $currTheme: $k !global;

    // html[data-theme=#{$k}] 编译后是 html[data-theme=light], 不影响命中
    // html[data-theme='#{$k}'] 编译后也是没有引号
    // 如果有空格等特殊字符, 推荐用'#{$k}'
    // '#{$k} '编译后是"light "
    html[data-theme=#{$k}] & {
      @content;
    }
  }

  // 以下内容倒着看

  // // 遍历map结构
  // @each $k, $v in $themes {
  //   html[data-theme='#{$k}'] & {
  //     background-color: #fff; // 样式在这里指定缺乏灵活性
  //     color: #000;
  //   }
  // }

  // // &相当于占位符, 得到当前(父)选择器, 可随意拼接
  // html[data-theme="light"] & { // 样式扩展困难, 没有用到定义的map结构
  //   background-color: #fff;
  //   color: #000;
  // }
  // html[data-theme="dark"] & {
  //   background-color: #000;
  //   color: #fff;
  // }

  // 最初的css, 想要实现的目标
  // html[data-theme="light"] .themeItem { // 类选择器扩展困难
  //   background-color: #fff;
  //   color: #000;
  // }
  // html[data-theme="dark"] .themeItem {
  //   background-color: #000;
  //   color: #fff;
  // }
}

@function getVar($propName) {
  /* $themes 相当于两层map
  取第1层map, 用到了全局变量 $currTheme
  第2层map再用属性名得到样式值 */
  $themesValueMap: map-get($themes, $currTheme);
  @return map-get($themesValueMap, $propName); // 然后再拿对应的样式值
}

.themeItem {
  line-height: 2;
  font-size: 20px;

  @include useTheme {
    background-color: getVar('bgColor'); // 实参肯定是传 对应的样式属性名
    color: getVar('textColor');
    // 扩展属性很方便
  }
}

// 以下内容倒着看

// .themeItem {
//   line-height: 2;
//   font-size: 20px;
//   @include useTheme {
//     background-color: #000;
//     color: #fff;
//   }
// }

// .themeItem {
//   line-height: 2;
//   font-size: 20px;
//   @include useTheme;
// }