.dot {
  transform: rotate(0deg);
  transform-origin: 10px;
}

.dot2 {
  transform: rotate(120 deg);
}

.dot {
  transform: rotate(120deg);
  transform-origin: 20px;
}

.dot2 {
  transform: rotate(120 deg);
}

.dot {
  transform: rotate(240deg);
  transform-origin: 30px;
}

.dot2 {
  transform: rotate(120 deg);
}
