.section-wrap {
  .section-1 {
    background: url('../img/home/sec_last.png') no-repeat;
    background-size: cover;
  }

  .section-2 {
    background: url('../img/contact/sec2.png') no-repeat;
    background-size: cover;
  }
}


// 联系 s
.lp_contact {
  .contact_cn {
    margin-bottom: 8.75rem;
  }

  .r {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 1rem;
  }

  .title {
    font-size: 1.875rem;
    font-family: Poppins-Regular, Poppins;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 2.8125rem;
    margin-bottom: 2rem;
  }

  .ctt {
    display: flex;
    margin-bottom: 1.25rem;

    img {
      margin-right: 1.25rem;
    }

    >div {
      font-size: 0.875rem;
      font-family: DM Sans-Regular, DM Sans;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 1.5rem;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    margin-top: 10rem;

    >div {
      font-size: 0.875rem;
      font-family: Poppins-Bold, Poppins;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 1.3125rem;
      padding: 1rem 2.25rem;
      background-color: #B39700;
      cursor: pointer;
    }
  }
}

// 联系 e




// 招聘 s
.job {

  .l_sec {
    display: flex;
    align-items: center;
  }

  .l {
    // padding-left: 20%;

    >div {
      font-size: 1.5rem;
      font-family: Poppins-Medium, Poppins;
      font-weight: 500;
      color: #FFFFFF;
      line-height: 5rem;
      // width: 240px;
    }

    >div.active {
      font-size: 2rem;
      font-weight: bold;
      color: rgba(179, 151, 0, 1);
      border-bottom: 2px solid rgba(179, 151, 0, 1);
      display: inline-block;
    }
  }

  .r {
    .ctt {
      padding: 50px;
      // background-color: transparent;
      background-color: rgba(87, 87, 87, 0.4);
      height: 560px;
      box-sizing: border-box;
      overflow: auto;

      .txt,
      .title {
        font-size: 1rem;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 2rem;
      }

      .txt {
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
      }

      .margin_b {
        margin-bottom: 0;
      }
    }


    .lp_toggle {
      margin-top: 1.5rem;

      .end {
        display: flex;
        align-items: flex-end;
      }

      .email {
        font-size: 1rem;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 2rem;
        border-bottom: 1px solid #fff;
        display: inline-block;
      }

      .arrow_sec {
        display: flex;
        justify-content: flex-end;
      }

      .lp_arrow {
        width: 10rem;
        height: 3.5rem;
        border: 2px solid rgba(179, 151, 0, 1);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .lp_arrow.active {
        background-color: rgba(179, 151, 0, 1);
      }

      // .lp_arrow:hover {
      //   // background-color: rgba(179, 151, 0, 1);

      //   >img {
      //     // transform: rotate(0.5turn);
      //     transform: rotate(180deg);
      //   }
      // }

      .lp_arrow:last-child {
        margin-left: 2.5rem;
      }
    }
  }
}

// 招聘 e




// 底部 s
.foot {
  position: absolute;
  bottom: 0;
  width: 100vw;

  .list {
    display: flex;
    justify-content: center;

    >div {
      font-size: 1rem;
      font-family: DM Sans-Regular, DM Sans;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 1.5rem;
      padding: 0 .75rem;
      border-right: 1px solid #fff;

      &:last-child {
        border-right: none;
      }
    }

  }

  .copyright {
    font-size: 0.875rem;
    font-family: Montserrat-Regular, Montserrat;
    font-weight: 400;
    color: #A1A1A1;
    line-height: 1.375rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

// 底部 e