/* 企业简介 s  */
.jianjie {
  .l {
    .us_ying {
      font-size: 1rem;
      font-family: Poppins-Bold, Poppins;
      font-weight: bold;
      color: #B39700;
      line-height: 1.5rem;
    }

    .us_cn {
      font-size: 1rem;
      font-family: Poppins-Medium, Poppins;
      color: #B39700;
      line-height: 1.5rem;
      margin-bottom: 0.625rem;
    }

    .us_quan {
      font-size: 1.875rem;
      font-family: Poppins-Bold, Poppins;
      font-weight: bold;
      color: #b39700;
      line-height: 2.8125rem;
      margin-bottom: 0.625rem;
    }

    .txt {
      font-size: 1rem;
      font-family: DM Sans-Regular, DM Sans;
      color: #b6b5b5;
      line-height: 2rem;
      margin-bottom: 1.875rem;
    }

    .btn {
      width: 10.25rem;
      line-height: 2.5rem;
      background: #B39700;
      font-size: 0.875rem;
      font-family: Poppins-Bold, Poppins;
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
      cursor: pointer;
    }
  }

  .r {
    >div {
      // width: 33.75rem;
      height: 18.75rem;
      background: url('../img/home/sec_1.png') no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      .mohu {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.400);
        opacity: 1;
        filter: blur(undefinedpx);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: .625rem;
        cursor: pointer;
      }

      .play {
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-left: 24px solid #fff;
        border-bottom: 12px solid transparent;
      }
    }
  }
}

/* 企业简介 e */


// 联系我们 s
// #home_foot {
//   display: block;
// }

// .lp_paddingtop {
//   padding-top: 10rem;
// }

.lp_contact {
  .contact_ying {
    font-size: 2rem;
    font-family: Poppins-Bold, Poppins;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 2rem;
    margin-bottom: .75rem;
  }

  .contact_cn {
    font-size: 2rem;
    font-family: Poppins-Bold, Poppins;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 2.375rem;
    margin-bottom: 5rem;
  }

  .icon {
    .zhu {
      display: flex;
      justify-content: space-between;
      padding: 0 10rem;
    }

    .lp_sec {

      .txt {
        font-size: 1.5rem;
        font-family: DM Sans-Regular, DM Sans;
        color: #FFFFFF;
        line-height: 1.625rem;
        margin-top: 1.25rem;
        text-align: center;
      }
    }
  }
}

// 联系我们 e



/* 底部 s */
.dibu {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

/* 底部 e */