/* 顶部导航 */
.navbar-top-default {
  position: fixed;
  background-color: #0B0A0A;
  height: 120px;
  border-bottom: none;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-simple .navbar-nav .nav-link {
  padding: 22px 12px;
  font-size: 22px;
  color: #A1A1A1;
}

.navbar-simple .navbar-nav .nav-link.active {
  color: #fff;
}

.nav-line .navbar-nav .nav-link:before {
  height: 2px;
  bottom: -74px;
}

.sidemenu_btn {
  margin-right: 1rem;
  margin-top: 1.4rem;
  display: none;
}

.lp_join {
  display: flex;
  align-items: center;
  height: 100%;
}

.lp_join>div {
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  border: 2px solid #B39700;
  font-size: 20px;
  font-family: DM Sans-Bold, DM Sans;
  font-weight: bold;
  color: #B39700;
  line-height: 52px;
  padding-left: 20px;
  padding-right: 20px;
}

.lp_join>div:hover {
  cursor: pointer;
  background-color: #B39700;
  color: #fff;
  transition: all 0.5s;
}

/*  */

.footer-style-1 {
  background-color: #1f1904 !important;
  padding-bottom: 10rem;
}



.footer-social a {
  color: #ffffff;
}

.white_c {
  color: #fff !important;
}

.inline_b {
  display: inline-block !important;
}

.lp_wrapper_t {
  padding-top: 1.25rem;
}

.lp_wrapper_b {
  padding-bottom: 1.25rem;
}

.lp_logo {
  width: 6.25rem;
  height: 6.25rem;
}

.big_img img {
  width: 100%;
  height: 520px;
}

.lp_office img {
  width: 43rem;
  height: 33rem;
}


.lp_margin_l {
  margin-left: 1.25rem;
}

.lp_copyright {
  color: gray;
  font-size: 0.75rem;
}

body {
  background-color: #171409;
}

.side-menu {
  background-color: #B39700;
}



/* 文化 s */
.lp_txt_section {
  font-size: 1.875rem;
  font-family: Poppins-Bold, Poppins;
  font-weight: bold;
  color: #b39700;
}

.lp_txt_title {
  font-size: 1.5rem;
  font-family: DM Sans-Regular, DM Sans;
  font-weight: 400;
  color: #f8f8f8;
}

.lp_txt_ctt {
  font-size: 1.125rem;
  font-family: DM Sans-Regular, DM Sans;
  font-weight: 400;
  color: #a3a3a3;
}

.one_title {
  height: 110px;
  text-align: left;
}

.two_title {
  height: 48px;
  text-align: left;
}

.three_title {
  height: 64px;
  text-align: left;
}

.lp_wrapper .three_title:nth-of-type(3) {
  height: 32px;
}

/* 文化 e  */





/* 加的 s */
ul {
  margin: 0;
  padding: 0;
}

#content {
  height: 100%;
  width: 100%;
}

#content li {
  /* height: 100%; */
  /* height: 100vh; */
  /* height: calc(100vh - 70px); */
  height: 100vh;
  width: 100%;
}

/* #content .one {
  background: #c94e50;
} */

/* #content .two {
  background: #FFA422;
} */

#content .three {
  background: #F05183;
}

#content .four {
  background: #6CD5E2;
}

#content .five {
  background: #43155E;
}

#content .six {
  background: #1C232B;
}

/* 加的 e */




/* 使命 s */
.shiming>.lp_wrapper {
  padding: 40px 50px;
  /* padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px; */
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.shiming .l_title_zhong {
  font-size: 30px;
  font-family: Poppins-Bold, Poppins;
  font-weight: bold;
  color: #B39700;
  /* margin-bottom: 16px; */
  line-height: 45px;
}

.shiming .l_title_ying {
  font-size: 20px;
  font-family: DM Sans-Regular, DM Sans;
  font-weight: 400;
  color: #B39700;
  line-height: 30px;
}

.shiming .r {
  border-left: rgba(255, 255, 255, 0.2) 1px solid;
  padding-left: 80px;
  display: flex;
  align-items: center;
}

.shiming .r_ctt {
  font-size: 20px;
  font-family: DM Sans-Regular, DM Sans;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 40px;
}

/* 使命 e */