.cation-list {
  >div:first-child {
    justify-content: flex-start;
  }
}


.cover {

  .sec {
    margin-bottom: 2.5rem;

    .font {
      font-size: 0.875rem;
      font-family: PingFang SC-Medium, PingFang SC;
      font-weight: 500;
      color: #A1A1A1;
      line-height: 1.25rem;
    }

    .introduce {
      margin-bottom: .625rem;
    }
  }
}


.lp_page {
  >div {
    display: flex;
    justify-content: center;
  }

  #page.pagination {
    li a {
      color: rgba(153, 153, 153, 1);
      background-color: rgba(38, 38, 38, 1);
      border-color: rgba(38, 38, 38, 1);
    }

    li.active {
      a {
        color: #fff;
        background-color: rgba(179, 151, 0, 1);
        border-color: rgba(179, 151, 0, 1);
      }
    }
  }

  .pageJump {
    span {
      color: rgba(153, 153, 153, 1);
    }
  }
}