@charset "UTF-8";
* { margin: 0; padding: 0; box-sizing: border-box; }

.marginB100, .cls_2 { margin-bottom: 100px; }

.fang_kuai { width: 100px; height: 100px; background: lightblue; margin: 100px; }

.overflowHidden { overflow: hidden; }

.bd { border: 1px solid; }

.cls_2 { border: 1px solid deeppink; }

.cls_2 > div { width: 100px; height: 100px; background: deepskyblue; float: right; }

.cls_3 { width: 100px; height: 100px; float: left; background: lightblue; }

.cls_4 { width: 200px; height: 200px; background: deepskyblue; }

.d_flow { display: flow-root; }

/* 这个方法可以用来实现两列自适应布局，效果不错，
这时候左边的宽度固定，右边的内容自适应宽度(去掉上面右边内容的宽度)。 */
.reset { width: auto; }

.infinityHeight { height: 1e3px; margin-bottom: calc(10px - 1e3px); }

.clearfix::after { content: ""; display: block; height: 0; clear: both; }

.clearfix { zoom: 1; }

/* MDN 例子 */
section { height: 150px; }

.box { background-color: #e0cef7; border: 5px solid rebeccapurple; }

.box[style] { background-color: aliceblue; border: 5px solid steelblue; }

.float { float: left; width: 200px; height: 100px; background-color: rgba(255, 255, 255, 0.5); border: 1px solid black; padding: 10px; }

.float_2 { float: left; overflow: hidden; /* required by resize:both */ resize: both; margin-right: 25px; width: 200px; height: 100px; background-color: rgba(255, 255, 255, 0.75); border: 1px solid black; padding: 10px; }

.blue, .red-inner { height: 50px; margin: 10px 0; }

.blue { background: blue; }

.red-outer { overflow: hidden; background: red; }
