body {
  margin: 0;
}


#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  .wrapper {
    color: #fff;

    >a {
      flex: 1;
      line-height: 2;
      text-align: center;

      &:first-child {
        background-color: var(--central);
      }

      &:nth-of-type(2) {
        background-color: var(--fanling);
      }

      &:last-child {
        background-color: var(--mei-foo);
      }
    }


  }
}

.page_body {
  flex: 1;
  overflow-y: auto;
  height: 200vh;
  padding: 0 1rem;
  /* 平滑滚动 */
  // scroll-behavior: smooth;
}

footer {
  height: 4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

.toTop {
  position: fixed;
  right: 1rem;
  bottom: calc(1rem + 4rem);
  display: none;
}