body {
  margin: 0;
}

.marginB100 {
  margin-bottom: 100px;
  // color: red;
}

.border {
  // border: 1px solid;
}

// .cls {
.fang_kuai {
  width: 100px;
  height: 100px;
  background: lightblue;
  margin: 100px;
}

.overflowHidden {
  overflow: hidden;
}



.bd {
  border: 1px solid;
}

@mixin wh($bei_shu: 1) {
  width: $bei_shu*100px;
  height: $bei_shu*100px;
}

@mixin bd($bd_color) {
  border: 1px solid $bd_color;
}

.cls_2 {
  @extend .marginB100;
  @include bd(deeppink);

  >div {
    @include wh();
    background: deepskyblue;
    float: right;
  }
}


.cls_3 {
  @include wh();
  float: left;
  background: lightblue
}

.cls_4 {
  @include wh(2);
  background: deepskyblue;
}

.d_flow {
  display: flow-root;
}

/* 这个方法可以用来实现两列自适应布局，效果不错，
这时候左边的宽度固定，右边的内容自适应宽度(去掉上面右边内容的宽度)。 */
.reset {
  width: auto;
}

.infinityHeight {
  height: 1e3px;
  margin-bottom: calc(10px - 1e3px);
  // 等于盒子总高度才10px, 但是内容很高, 由背景填充
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}




/* MDN 例子 */
section {
  height: 150px;
}

.box {
  background-color: rgb(224, 206, 247);
  border: 5px solid rebeccapurple;
}

.box[style] {
  background-color: aliceblue;
  border: 5px solid steelblue;
}

.float {
  float: left;
  width: 200px;
  height: 100px;
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid black;
  padding: 10px;
}







.float_2 {
  float: left;
  // overflow: visible; 是默认值
  overflow: hidden;
  /* required by resize:both */
  resize: both; // 可调整元素尺寸
  margin-right: 25px;
  width: 200px;
  height: 100px;
  background-color: rgba(255, 255, 255, .75);
  border: 1px solid black;
  padding: 10px;
}









.blue,
.red-inner {
  height: 50px;
  margin: 10px 0;
}

.blue {
  background: blue;
}

.red-outer {
  overflow: hidden;
  background: red;
}