@import url('./assets/font/iconfont.css');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.iconfont {
  color: inherit;
  font-size: inherit;
}
