.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 100rem);
  display: flex;
  color: #333;

  .menu {
    background-color: #f5f5f5;
    width: 190rem;
    overflow-y: scroll;
    flex: 0 0 auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    .menu-item {
      height: 141rem;
      padding: 0 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      span {
        font-size: 30rem;
        line-height: 40rem;
        max-height: 80rem;
        overflow: hidden;
      }

      &.active {
        font-weight: bold;
        background: #fff;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          height: 100%;
          width: 7.5rem;
          background: #3190e8;
        }
      }
    }
  }

  .goods-list {
    flex-grow: 1;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }

    .goods-item {
      border-bottom: 1px solid #f8f8f8;
      display: flex;
      padding: 30rem 20rem;

      &.active {
        .goods-btns {
          span {
            display: block;
          }

          .i-jianhao {
            display: block;
          }
        }
      }
    }

    .goods-pic {
      $wh: 200rem;
      width: $wh;
      height: $wh;
      object-fit: contain;
      border: 1rem solid rgba(0, 0, 0, 0.06);
      flex: 0 0 auto;
    }

    .goods-info {
      flex: 1 1 auto;
      padding: 0 35rem;
      overflow: hidden;
    }

    .goods-title {
      font-size: 35rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 20rem;
    }

    .goods-desc {
      font-size: 24rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 20rem;
    }

    .goods-sell {
      color: #858687;
      font-size: 24rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 20rem;
      display: flex;

      span:first-child {
        margin-right: 18rem;
      }
    }

    .goods-confirm {
      display: flex;
      justify-content: space-between;
    }

    .goods-price {
      display: flex;
      font-size: 35rem;
      font-weight: bold;
      color: #f60;
      align-items: flex-end;

      .goods-price-unit {
        font-size: 25rem;
        font-weight: normal;
        margin-bottom: 4rem;
      }
    }

    .goods-btns {
      display: flex;
      justify-content: center;
      align-items: center;

      .iconfont {
        $wh: 40rem;
        width: $wh;
        height: $wh;
        background-color: #4a90e1;
        color: #fff;
        border-radius: 50%;
        font-size: 23rem;
        line-height: $wh;
        text-align: center;
      }

      span {
        margin: 0 15rem;
        display: none;
      }

      .i-jianhao {
        border: 1rem solid #4a90e1;
        background-color: #fff;
        color: #4a90e1;
        font-weight: bold;
        display: none;
      }
    }
  }
}