#nav {
  width: 800px;
  height: 50px;
  line-height: 50px;
  margin: 20px auto;
  background-color: darkcyan;

  a {
    color: #fff;

    &:hover {
      color: deeppink;
    }
  }

  >li {
    width: 160px;
    text-align: center;
    float: left;

    // &:hover {
    //   >a {
    //     color: deeppink;
    //   }
    // }

    // >a {
    //   width: 100%;
    //   height: 100%;
    // }
  }

  .companyIntroduceUrl {
    display: none;
    width: 100px;
    margin: 0 auto;
    background-color: lightsteelblue;
  }
}