.lpj {
  .oneLevel {
    width: 600px;
    height: 60px;
    display: flex;

    >li {
      // width: 100px;
      // height: 60px;
      position: relative;
      border: 1px solid deeppink;
      border-right: none;

      // 精确给高度, 防止出现幽灵hover
      &:nth-child(2):hover .twoLevel {
        height: 290px;
      }

      &:nth-child(3):hover .twoLevel {
        height: 230px;
      }

      // &:nth-child(4):hover .twoLevel {
      //   height: 350px;
      // }

      // &:nth-child(5) .twoLevel {
      //   height: 350px;
      // }

      &:hover .twoLevel {
        height: 350px;
      }

      &:last-child {
        border-right: 1px solid deeppink;
      }

      a {
        width: 100px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
      }
    }
  }

  .twoLevel {
    // start 高度为0, 移除隐藏
    height: 0;
    overflow: hidden;
    // end
    transition: all .5s;

    position: absolute;
    top: 56px;
    left: -1px;

    // 用伪元素代替占位元素
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 40px;
      background-color: transparent;
    }

    /* .zhanwei {
      width: 100%;
      height: 40px;
      background-color: transparent;
      // border: 1px solid red;
    } */

    >li {
      border: 1px solid deepskyblue;
      border-bottom: none;

      &:last-child {
        border-bottom: 1px solid deepskyblue;
      }

      &:hover {
        a {
          color: red;
        }
      }
    }
  }


  .triangle-up {
    width: 0;
    height: 0;
    position: absolute;
    top: 3px;
    left: 43px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 37px solid deepskyblue;
  }


}