@use 'sass:map';

$themes: (
  light: (bgColor: #fff, textColor: #000, ),
  dark: (bgColor: #000, textColor: #fff, ),
);
$currTheme: '';

@mixin useTheme {
  @each $k, $v in $themes {
    $currTheme: $k !global;

    html[data-theme=#{$k}] & {
      @content;
    }
  }
}

@function getVar($propName) {
  $themesValueMap: map.get($themes, $currTheme);
  @return map.get($themesValueMap, $propName);
}

.themeItem {
  line-height: 2;
  font-size: 20px;

  @include useTheme {
    background-color: getVar('bgColor');
    color: getVar('textColor');
  }
}