.pack { display: flex; gap: 10px; }

.container { width: 100px; height: 100px; background-color: deepskyblue; }

.one2 { padding: 10px; }

.two { border: 5px solid #000; }

.two2 { overflow: scroll; border: 10px solid #000; }

.three { overflow: scroll; }

.three .childScroll { width: 200px; height: 200px; }

.three2 { border: 5px solid #000; overflow: scroll; }

.three2 .childScroll { width: 200px; height: 200px; }

.three3 { border: 5px solid #000; }

.three3 .childScroll { width: 200px; height: 200px; }

.four2 { overflow: scroll; }

.four2 .childScroll { width: 200px; height: 200px; }

.four3 { overflow: scroll; transform: rotate(45deg); }

.four3 .childScroll { width: 200px; height: 200px; }
