.wrap {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;

  &:focus-within {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
}

/* 伪元素 ::after */
.af span::after {
  content: '*';
  color: #f40;
}


.center {
  display: flex;
  justify-content: center;
}

.form-container {
  $blockPadding: 10px 40px;
  $labelSpanWidth: 60px;
  $lebelHeight: 26px;

  .form-block {
    transition: 0.5s;

    /* : focus-within 自身聚焦或自身后代元素聚焦, 都能够选中 */
    &:focus-within {
      background-color: #ccc;
    }


    .label {
      display: flex;
      padding: $blockPadding;
      height: $lebelHeight;

      span {
        display: block;
        line-height: $lebelHeight;
        width: $labelSpanWidth;
      }

      input {
        width: 300px;
        outline: none;
        border: none;
        border: solid 2px #ccc;
        border-radius: 4px;

        &:focus {
          border-color: deepskyblue;
        }
      }
    }

    /* :has 伪类
    + 相邻的下一个兄弟元素
    [] 属性选择器
    ::after 伪元素 */
    .label span:has(+input[data-required])::after {
      content: '*';
      color: #f40;
    }
  }

  .form-submit {
    padding: $blockPadding;

    .btn {
      outline: none;
      border: none;
      margin: 0;
      padding: 0;

      background-color: deepskyblue;
      color: #fff;
      border-radius: 2px;
      box-shadow: 0 0 4px rgba(0, 191, 255, 0.8);
      cursor: pointer;
      width: 100px;
      height: $lebelHeight;
      line-height: $lebelHeight;
      margin-left: $labelSpanWidth;
    }
  }
}