* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2% 6% 0;
}

.up_down {
  margin: 20px 0;
}


body {
  background-color: #000;
  border: 1px solid deeppink;
  color: #fff;

  // 间距会随着字号的变大而变大, 说明间距和字体有关系
  font-size: 50px;
}

.moren {
  img {
    // 注意是给 img 加的样式
    vertical-align: baseline;
  }
}

img {
  // 推荐
  // 注意是给 img 加的样式
  vertical-align: bottom; // top middle baseline(默认) bottom

  // display: block; // 也可以解决间距问题
}

div {
  width: 960px;
  height: 60px;
  border: 1px solid deepskyblue;
}

p {
  >span {
    color: deepskyblue;
  }
}


.hang_he {
  $wh: 200px;
  width: $wh;
  height: $wh;
  border: 10px dashed red;
  padding: 30px;
  background-color: deepskyblue;
  font-size: 1rem;
  display: inline-block;
  /* 行(内)盒其实是主要是文本相关的
  行(内)盒总容易出现垂直方向的对齐问题, 默认以 baseline 基线对齐
  效果就是文本基线对齐, 如果文本长度不一致, 容易出现错位 */

  &.align {
    vertical-align: bottom;
  }
}