@charset "UTF-8";
/* 循环 遍历 */
/* @for $i from 开始值 to 结束值
不包含结束值 */
.container > .item { color: white; font-size: 30px; }

.container > .item { color: white; font-size: 30px; }

.container > .item { color: white; font-size: 30px; }

.container > .item { color: white; font-size: 30px; }

/* @for $i from 开始值 through 结束值
包含结束值 */
.m-1 { margin: 0.25 rem; }

.m-2 { margin: 0.5 rem; }

.m-3 { margin: 0.75 rem; }

.m-4 { margin: 1 rem; }

.m-5 { margin: 1.25 rem; }

.m-6 { margin: 1.5 rem; }

.m-7 { margin: 1.75 rem; }

.m-8 { margin: 2 rem; }

.m-9 { margin: 2.25 rem; }

.m-10 { margin: 2.5 rem; }

/* 定义数组, scss里是list数据类型
用逗号或空格隔开, 推荐用逗号 */
/* @each 遍历数组
$c是项, $bgColor是数组 */
.container > div:nth-child(1) { background-color: #337ab7; }

.container > div:nth-child(2) { background-color: #5cb85c; }

.container > div:nth-child(3) { background-color: #5bc0de; }

.container > div:nth-child(4) { background-color: #f0ad4e; }

.container > div:nth-child(5) { background-color: deepskyblue; }

.container > div:nth-child(6) { background-color: #d9534f; }

.container > div:nth-child(7) { background-color: #cd6562; }

/* 在scss文件声明css变量 */
:root { --likeColor: deepskyblue; --fontSize: 50px; --red-color: red; }

/* scss支持css原生语法, 比如css变量 */
.likeColor { color: var(--likeColor); }

/* css变量, --声明后使用var() */
.try { font-weight: bold; color: var(--likeColor); font-size: var(--fontSize); }

.try2 { color: var(--red-color); }

.try3 { color: var(--likeColor); }

/* 可以写一些消息, 转之后会被正确识别
这是自定义的信息 x.x.x*/
/* 简化媒体查询 */
.nav { display: flex; justify-content: start; align-items: start; gap: 10px; }

.header { width: 100%; display: flex; justify-content: center; align-items: center; }
