button {
  margin: 0;
  padding: 0;
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
}

.container {
  width: 50vw;
  height: 50vh;
  background-color: #000;
  text-align: center;
  line-height: 50vh;

  --color: #518fa7;

  button {
    color: var(--color);
    // color: #518fa7;
    // outline: 4px solid #fff;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      // background-color: red;
      // background-color: #518fa7;
      background-color: var(--color);
      z-index: -1;
      left: 50%;
      top: 50%;
      transform-origin: 0 0; // 改变变形原点, 默认是容器中心点
      animation: rotation 3s infinite linear;
    }

    &::after {
      content: '';
      position: absolute;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      left: 5px;
      top: 5px;
      // background-color: #0b5d7d;
      background-color: #000;
      z-index: -1;
    }

    &:hover {
      cursor: pointer;
      --color: deepskyblue;
    }
  }
}

@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}