:root { --wh: 50px; }

.container { width: 1200px; margin: 20px auto; padding: 6px; background-color: #b3b3b3; display: flex; }

.container .item { width: var(--wh); height: var(--wh); border: 1px solid; }

.container .item:nth-child(3n+1) { background-color: var(--tseung-kwan-o); }

.container .item:nth-child(3n+2) { background-color: var(--fo-tan); }

.container .item:nth-child(3n) { background-color: var(--skek-kip-mei); }

.container .marginAuto { margin: auto; }

.container .marginLeft { margin-left: auto; }

.container .marginRight { margin-right: auto; }

h2 { text-align: center; }

.duo_hang { flex-wrap: wrap; }

.duo_hang.auto .item { --n: 6; --gap: calc(((100% - var(--wh) * var(--n))) / var(--n) / 2); margin: 10px var(--gap); }

.duo_hang.between { justify-content: space-between; }
