// * {
//   margin: 0;
//   padding: 0;
// }

.inlineB {
  display: inline-block;
}

.marL {
  margin-left: 20px;
}

.marR {
  margin-right: 20px;
}

.marLR {
  margin-left: 20px;
  margin-right: 20px;
}