@charset "UTF-8";
body { margin: 0; }

.clearfix::after { content: ""; clear: both; display: block; height: 0; }

.clearfix { *zoom: 1; }

.app { /* 固定定位, 包含块是视口, 宽高是已知确定的, 所以可以直接用100% */ position: fixed; width: 100%; height: 100%; background-color: deepskyblue; color: #fff; }

header { height: 60px; background-color: #000; line-height: 60px; padding-left: 10px; /* 通过absolute定位脱离文档流来弥补.container高度超出 脱离后会遮挡住.container, 符合要求 */ position: absolute; left: 0; top: 0; width: 100%; box-sizing: border-box; }

.container { width: 100%; /* 百分比高度(父元素是.app, 高度有了, 配合着 padding-top */ height: 100%; padding-top: 60px; box-sizing: border-box; }

.container aside { background-color: var(--tin-hau); float: left; width: 200px; height: 100%; padding: 10px; box-sizing: border-box; overflow: auto; }

.container main { background-color: var(--ma-on-shan); display: flow-root; height: 100%; padding: 10px; box-sizing: border-box; overflow: auto; }
