<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模版</title>


    <!-- 库文件 -->
    <!-- <link rel="stylesheet" href="../../libs/elementUI/element-ui@2.6.1_index.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../../common/common.css" /> -->

    <!-- 其他文件 -->
    <link rel="stylesheet/less" type="text/css" href="learn_vue_case.less">
    <script src="../../libs/less.min.js" type="text/javascript"></script>

  </head>
  <body>

    <!-- 没有用template -->
    <h3>
      .app1
      <span>禁止输入敏感词</span>
    </h3>
    <div class="app1">
      <textarea @keyup.delete="count_" @input="count" v-model="text">{{ text }}</textarea>
      <p>还能输入: {{ num }}</p>
    </div>



    <hr />
    <h3>
      .app2
      <span></span>
    </h3>
    <div class="app2">
      <table border="1" cellpadding="5" cellspacing="0" width="90%">
        <caption>小小购物车</caption>
        <tr bgcolor="deepskyblue">
          <th>编号</th>
          <th>品名</th>
          <th>单价</th>
          <th>数量</th>
          <th>金额</th>
        </tr>
        <tr align="center" v-for="(item,i) in products">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td><input type="number" v-model.number="item.quantity" /></td>
          <td>{{ subtotal(i) }}</td>
        </tr>
        <tr align="center">
          <td colspan="3">合计:</td>
          <td>{{ count }}</td>
          <td>{{ total }}</td>
        </tr>
      </table>
    </div>


    <hr />
    <h3>
      .app3
      <span>原生js写留言板</span>
    </h3>
    <div>
      <input class="app3" type="text">
      <button>提交</button>
      <button>移除焦点</button>
      <ul></ul>
    </div>


    <hr />
    <h3>
      .app4
      <span>用vue写留言板</span>
    </h3>
    <div class="app4">
      <input v-model="inputValue" type="text">
      <button @click="addlist">提交</button>
      <ul>
        <li v-for="(item,idx) in list" :style="styleCss">
          {{ item }}
          <button @click="edit(item,idx)">prompt编辑</button>
          <button @click="edit2(item,idx)">layer编辑</button>
          <button @click="del(idx)">删除</button>
        </li>
      </ul>
    </div>


    <hr />
    <h3>
      .app5
      <span>模拟ajax操作</span>
    </h3>
    <div class="app5">
      <h4>用户注册</h4>
      <div>
        <label>用户：
          <input class="app51" type="text" v-model.lazy.trim="username">
          <span v-show="username !== ''">
            <span v-show="userflag" :style="errorColor"> {{ username }}用户已存在，请更换</span>
            <!-- <span v-show="!userflag" :style="correctColor"> √</span> -->
          </span>
          <!-- <span v-show="username === ''" :style="errorColor">用户不能为空</span> -->
        </label>
      </div>
      <div>
        <label>邮箱：
          <input class="app51" type="email" v-model.lazy.trim="email">
          <span v-show="email !== ''">
            <span v-show="emailflag" :style="errorColor"> {{ email }}邮箱已经被注册，请更换</span>
            <!-- <span v-show="!emailflag" :style="correctColor"> √</span> -->
          </span>

        </label>
      </div>
      <div>
        <button @click="login">登陆</button>
        <span :style="errorColor">{{ tips }}</span>
      </div>
    </div>


    <hr />
    <h3>
      .app6
      <span>测试input事件输入</span>
    </h3>
    <div class="app6">
      <input type="text" v-model="test" @input="jtshuru">
      <p>{{ test }}</p>
    </div>


    <hr />
    <h3>
      .app7
      <span>调用全局组件</span>
    </h3>
    <div class="app7">
      <global-c>欢迎来到</global-c>
    </div>
    <div class="app70">
      <global-c>欢迎你来到</global-c>
    </div>


    <hr />
    <h3>
      .app8
      <span>调用局部组件</span>
    </h3>
    <div class="app8">
      <local-co>欢迎</local-co>
      <local-c>欢迎欢迎</local-c>
    </div>


    <hr />
    <h3>
      .app9
      <span>传递数据</span>
    </h3>
    <div class="app9">
      <h3>父传子</h3>
      <local-ftc :link="nav" :lesson="course"></local-ftc>
      <h3>子传父</h3>
      <local-ctf @getdata="getData"></local-ctf>
      <ul>
        <li v-for="(item,idx) in userInfo">{{ item }}</li>
      </ul>
    </div>


    <hr />
    <h3>
      .app10
      <span>同级组件 数据传递</span>
    </h3>
    <div class="app10">
      <local-one></local-one>
      <local-two></local-two>
    </div>


    <hr />
    <h3>
      .app11
      <span>插槽</span>
    </h3>
    <div class="app11">
      <local-app11>
        <del>全局组件 插槽</del>
      </local-app11>
      <local-app11-1>
        <i>局部组件 插槽</i>
      </local-app11-1>
    </div>


    <hr />
    <h3>
      .app12
      <span>用户点赞</span>
    </h3>
    <div class="app12">
      <like-c>点赞</like-c>
    </div>


    <hr />
    <h3>
      .app13
      <span>商品信息表</span>
    </h3>
    <div class="app13">
      <product :prop-sx="products"></product>
    </div>


    <hr />
    <h3>
      .app14
      <span>vue官方示例（插槽）</span>
    </h3>
    <div class="app14">
      <base-layout>
        <template v-slot:header>
          <h3>Here might be a page title</h3>
        </template>
        <p>A paragraph for the main content.</p>
        <p>And another one.</p>
        <template #footer>
          <p>Here's some contact info</p>
        </template>
      </base-layout>
    </div>


    <hr />
    <h3>
      .app15
      <span>页面布局（插槽）</span>
    </h3>
    <div class="app15">
      <base-layout>
        <template v-slot:header>
          <div class="header">头部</div>
        </template>
        <template #main>
          <div class="main clear_f">
            <div class="side float_l">侧边栏</div>
            <div class="content float_r">内容区</div>
          </div>
        </template>
        <template #footer>
          <div class="footer">底部</div>
        </template>
      </base-layout>
    </div>


    <hr />
    <h3></h3>






    <!-- 模版 -->
    <!-- 用户点赞 -->
    <script type="text/template" id="app12-1">
      <div>
        <button :style="isLike? {backgroundColor: 'deepskyblue'}: ''" @click="setLike">{{ text }}<slot></slot></button>
        <span>{{ likeCount }}</span>
      </div>
    </script>

    <!-- 商品信息表 -->
    <script type="text/template" id="app13-1">
      <table border="1">
        <caption>商品信息表</caption>
        <tr>
          <th>编号</th>
          <th>品名</th>
          <th>单价</th>
          <th>数量</th>
          <th>金额</th>
        </tr>
        <tr v-for="(item,idx) in propSx">
          <td>{{ idx + 1 }}</td>
          <td>{{ item.productName }}</td>
          <td>{{ item.unitPrice }}</td>
          <td><input type="number" v-model.number="item.quantity"></td>
          <td>{{ calcTotal(idx) }}</td>
        </tr>
        <tr>
          <td colspan="3">合计</td>
          <td>{{ count }}</td>
          <td>{{ amount }}</td>
        </tr>
      </table>
    </script>

    <!-- vue官方示例（插槽） -->
    <script type="text/template" id="app14-1">
      <div class="container">
        <header>
          <slot name="header"></slot>
        </header>
        <main>
          <slot></slot>
        </main>
        <footer>
          <slot name="footer"></slot>
        </footer>
      </div>
    </script>

    <!-- 页面布局（插槽） -->
    <script type="text/template" id="app15-1">
      <div class="container">
        <slot name="header"></slot>
        <slot name="main"></slot>
        <slot name="footer"></slot>
      </div>
    </script>




    <!-- 库文件 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
    <script src="../../libs/vue-v2.6.7.js" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="libs/vue-router-v3.0.2.js" type="text/javascript" charset="utf-8"></script> -->
    <script src="../../libs/axios-v0.18.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../libs/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../libs/layer-v3.1.1/layer/layer.js"></script>
    <!-- <script src="../../libs/elementUI/element-ui@2.6.1_index.min.js" type="text/javascript" charset="utf-8"></script> -->
    <script src="../../common/common.js" type="text/javascript" charset="utf-8"></script>

    <!-- 其他文件 -->
    <script src="learn_vue_case.js"></script>

  </body>


</html>
