.add-to-car {
  position: fixed;
  left: 0;
  top: 0;
  // transform: translate(20rem, 20rem);
  font-size: 23rem;
  line-height: 40rem;
  text-align: center;
  color: #fff;
  z-index: 9;
  // margin-left: -20rem;
  // margin-top: -20rem;
  transition: .5s linear;

  .iconfont {
    $wh: 40rem;
    width: $wh;
    height: $wh;
    background-color: #4a90e1;
    border-radius: 50%;
    display: block;
    transition: .5s cubic-bezier(.5, -.5, 1, 1);
  }
}