.container {
  height: 200px;
  background-color: deepskyblue;
  color: #fff;

  >div {
    background-color: deeppink;
    margin: 10px;
    padding: 30px;
    border: 2px solid #fff;
  }
}

.float_l {
  float: left;
}

.float_r {
  float: right;
}

.noCtt {
  $wh: 100px;
  width: $wh;
  height: $wh;
}

.normal {
  height: 60px;
  border-color: #000 !important;
}

.container2 {
  background-color: lightblue;
  padding: 30px; // 撑开了高度

  .item {
    @extend .noCtt;
    background-color: red;
    margin: 6px;
    float: left;
  }

  .clearfix_box {
    height: 60px;
    background-color: darkcyan;
    clear: both;
  }

  .clearfix2_box {
    clear: both;
  }
}

.clearfix {
  &::after {
    content: "";
    display: block; // 伪元素默认是行盒, 所以要变成块盒
    clear: both;
  }
}