.tablescope {
  .el-switch__label--left {
    position: relative;
    left: 45px;
    color: #fff;
    z-index: -1111
  }

  .el-switch__core {
    width: 50px !important;
  }

  .el-switch__label--right {
    position: relative;
    right: 46px;
    color: #fff;
    z-index: -1111
  }

  .el-switch__label--right.is-active {
    z-index: 1111;
    color: #fff !important;
  }

  .el-switch__label--left.is-active {
    z-index: 1111;
    color: #9c9c9c !important;
  }
}

.tablescope_2 {
  .el-switch__label--left {
    left: 102px;
  }

  .el-switch__core {
    width: 106px !important;
  }

  .el-switch__label--right {
    right: 103px;
  }
}