.sidebar-container {
  // background-color: $menuBg;
  width: $sideBarWidth  !important;
  height: 100%;
  // 侧边栏固定
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;

  // 增加侧边栏滚动条
  .el-scrollbar {
    height: 100%;
  }

  .scrollbar-wrapper {
    overflow-x: hidden !important;
  }

  &.has-logo {
    .el-scrollbar {
      height: calc(100% - 60px);
    }
  }

  // 改变侧边栏的 icon 和 title 颜色
  .el-menu-item,
  .el-submenu__title {
    // color: deeppink;
  }

  .svg-icon {
    margin-right: 16px;
  }

  .sub-el-icon {
    margin-right: 12px;
    margin-left: -2px;
  }
}