.sidebar-container {
  // background-color: $menuBg;

  // 改变侧边栏的 icon 和 title 颜色
  .el-menu-item,
  .el-submenu__title {
    // color: deeppink;
  }

  .svg-icon {
    margin-right: 16px;
  }

  .sub-el-icon {
    margin-right: 12px;
    margin-left: -2px;
  }
}