.top {
  display: flex;
  justify-content: start;
}

.top > section {
  margin-bottom: 20px;
}

.top > section .bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-right: 40px;
}

.top > section .bar > img {
  display: inline-block;
  vertical-align: middle;
}

.top > section .bar > span {
  vertical-align: middle;
  margin: 0 5px;
}

.dashboard {
  background-color: #fff;
}

.dashboard .wrap {
  background-color: #EAEBEF;
  padding: 10px 20px 14px;
  border: 1px solid #DCDDE4;
  border-radius: 10px;
}

.dashboard .wrap > .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 32px;
}

.dashboard .wrap > .head > .title img {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.dashboard .wrap > .head > .title span {
  vertical-align: middle;
  color: #666666;
  font-size: 16px;
}

.dashboard .wrap > .head > .count {
  line-height: 32px;
}

.dashboard .wrap > .head > .count > b {
  font-size: 24px;
  font-family: Source Han Sans SC;
  font-weight: bold;
  color: #333333;
  vertical-align: middle;
}

.dashboard .wrap > .head > .count > span {
  vertical-align: middle;
  color: #666666;
  font-size: 16px;
  display: inline-block;
}

.dashboard .wrap > .main {
  background-color: #fff;
  height: 200px;
  overflow-y: auto;
  border-radius: 10px;
}

.dashboard .wrap > .main .tag {
  margin: 10px 0;
}

.dashboard .wrap > .main .tag .num {
  color: #4F63A7;
  font-weight: bold;
}

.btm {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
}

.btm .sectionName {
  text-align: left;
}

.btm .sectionName > b {
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  line-height: 27px;
  color: #333333;
}

.btm .sectionName > span {
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  line-height: 24px;
  color: #666666;
}

.btm .minwidth {
  min-width: 230px;
  margin-top: 16px;
}

.btm .nameTitle {
  text-align: left;
  font-size: 16px;
  font-family: SimHei;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.btm .card2 {
  height: 140px;
  box-sizing: border-box;
  padding: 16px 10px 0 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.btm .card2Main {
  display: flex;
}

.btm .card2Main .right {
  margin-left: 20px;
}

.btm .card2Main .txt {
  text-align: left;
  font-size: 16px;
  font-family: SimHei;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.btm .alarm {
  background-color: #dc4f4f;
}

.btm .warning {
  background-color: #e58c26;
}

.btm .hint {
  background-color: #77a6cf;
}

.child {
  border: 1px solid red;
}

.one {
  flex: 1;
}

.two {
  flex: 2;
}

.three {
  flex: 3;
}

.chuizhi {
  flex-direction: column;
  height: 180px;
}
